.content-layout {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
    min-height: 550px;
}
.content-box{
    flex-shrink: 0;
}
.content-box img{
    width: 40em;
    padding-bottom: 3em;
}
.content-box p{
    margin: 3px;
    font-size: 20px;
    text-align: left;
    width: 30rem;
    word-wrap: break-word;
}
#pic_style{
    margin: 0 50px 0 50px;
}

@media only screen and (max-width: 420px) {
    .content-layout {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
        align-items: flex-start;
        height: 100vh;
        min-height: 550px;
        transform: translateY(20%);
    }
    .content-box{
        margin: 3em 0 0 0;
    }
    .content-box img{
        width: 22em;
    }
    .content-box p {
        font-size: 18px;
        text-align: center;
        width: 22rem;
    }
    
}