body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

@font-face {
    font-family: Cloud;
    src: url(./assets/font/Cloud-Light.otf);
}
@font-face {
    font-family: CloudB;
    src: url(./assets/font/Cloud-Bold.otf);
}

*,
*::after,
*::before {
    font-family: Cloud;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: CloudB;
}
